<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19307239945-l1sk6c2g91sdkg7h2p56e3d947sv6hkm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19307239945-l1sk6c2g91sdkg7h2p56e3d947sv6hkm</string>
	<key>API_KEY</key>
	<string>AIzaSyDQqhd-yCMZobZKrQxnU9pHrtvsgR3eYU0</string>
	<key>GCM_SENDER_ID</key>
	<string>19307239945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.motiwork</string>
	<key>PROJECT_ID</key>
	<string>motiwork-6a790</string>
	<key>STORAGE_BUCKET</key>
	<string>motiwork-6a790.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19307239945:ios:4b694124cfbf6dc0fcf6d8</string>
</dict>
</plist>