<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19307239945-8iqv65nmtevbss536uokuqvcu1318kg4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19307239945-8iqv65nmtevbss536uokuqvcu1318kg4</string>
	<key>API_KEY</key>
	<string>AIzaSyDQqhd-yCMZobZKrQxnU9pHrtvsgR3eYU0</string>
	<key>GCM_SENDER_ID</key>
	<string>19307239945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.annikers.motiwork</string>
	<key>PROJECT_ID</key>
	<string>motiwork-6a790</string>
	<key>STORAGE_BUCKET</key>
	<string>motiwork-6a790.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19307239945:ios:92ab80197f379144fcf6d8</string>
</dict>
</plist>